.title
{
    display: block;
    text-align: center;
    color: darksalmon;
    padding: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
}
.main
{
    display: block;
    text-align: center;
}
.list
{
    display: inline-block;
    width: 600px;
    height: auto;
    border: 2px solid darkgray;
    box-shadow: 10px 10px 5px darkgray;
    background: cornsilk;
}
.list ul
{
    list-style:none;
    padding: 0px;
}
.list li
{
    border-top: 1px solid darkgray;
    font-size: 18px;
    font-family: "等线";
    line-height: 35px;
}
.list li:first-child
{
    border-top: none;
}
input
{
    float: left;
    margin-top: 11px;
    margin-left: 6px;
}
input:checked + span
{
    color: #bdbdbd;
    font-style: oblique;
    text-decoration: line-through;
}
span
{
    padding-left: 70px;
}
#del
{
    display: block;
    float: right;
    margin-right: 10px;
    margin-top: 5px;
    background-color: darksalmon;
    color: beige;
    border: none;
    font-family: "华文细黑";
    border-radius: 3px;
}
#del:hover
{
    background-color: rgb(185, 92, 61);
}
#add
{
    text-align: center;
    margin-bottom: 10px;
    background-color: darksalmon;
    color: beige;
    border: none;
    width: 60px;
    height: 30px;
    font-family: "华文细黑";
    font-size: 20px;
    border-radius: 5px;
}
#add:hover
{
    background-color: rgb(185, 92, 61);
}
#change
{
    display: block;
    float: right;
    margin-right: 10px;
    margin-top: 5px;
    background-color: darksalmon;
    color: beige;
    border: none;
    font-family: "华文细黑";
    border-radius: 3px;
}
#change:hover
{
    background-color: rgb(185, 92, 61);
}